<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-background-mode"
        version="0.7.2">

    <name>BackgroundMode</name>

    <description>Prevent apps from going to sleep in background.</description>

    <repo>https://github.com/katzer/cordova-plugin-background-mode.git</repo>

    <keywords>appplant, background</keywords>

    <license>Apache 2.0</license>

    <author>Sebastián Katzer</author>

    <!-- dependencies -->
    <dependency id="cordova-plugin-device" />

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />
        <engine name="android-sdk" version=">=16" />
        <!--<engine name="windows-sdk" version=">=10.0.14393.0" />-->
    </engines>

    <!-- js -->
    <js-module src="www/background-mode.js" name="BackgroundMode">
        <clobbers target="cordova.plugins.backgroundMode" />
        <!--<clobbers target="plugin.backgroundMode" />-->
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundMode">
                <param name="ios-package" value="APPBackgroundMode" onload="true" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

<!--         <config-file target="*-Info.plist" parent="UIBackgroundModes"> -->
<!--             <array> -->
<!--                 <string>audio</string> -->
<!--             </array> -->
<!--         </config-file> -->

        <resource-file src="appbeep.wav" />

        <header-file src="src/ios/APPBackgroundMode.h" />
        <source-file src="src/ios/APPBackgroundMode.m" />
        <header-file src="src/ios/APPMethodMagic.h" />
        <source-file src="src/ios/APPMethodMagic.m" />
    </platform>

    <!-- android -->
    <platform name="android">
	<lib-file src="src/android/libs/bugly_crash_release.jar" />
	<lib-file src="src/android/libs/HMS_SDK_2.6.1.301.jar" />
		<config-file parent="/manifest" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
		</config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BackgroundMode" >
                <param name="android-package"
                      value="de.appplant.cordova.plugin.background.BackgroundMode"/>
            </feature>

        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="KeepRunning" value="true" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            	<service android:name="de.appplant.cordova.plugin.background.ForegroundService" />
                <activity
		    android:name="de.appplant.cordova.plugin.background.OnePiexlActivity"
		    android:theme="@android:style/Theme.Translucent" 
		    android:screenOrientation="portrait">
		</activity>
		
		<!--JobServer-->
		<service
		    android:name="de.appplant.cordova.plugin.background.MyJobService"
		    android:enabled="true"
		    android:exported="true"
		    android:permission="android.permission.BIND_JOB_SERVICE">
		</service>
		
<!-- 		android:process=":VVServer" -->
		<service android:name="de.appplant.cordova.plugin.background.VVServer"
			 android:enabled="true"
		    	 android:exported="true"
			 ></service>
		
		
		<service android:name="de.appplant.cordova.plugin.background.AssistService"
            		 android:enabled="true"
            		 android:exported="true"></service>
		
		<service android:name="de.appplant.cordova.plugin.background.AssistServiceTwo"
            		 android:enabled="true"
            		 android:exported="true"></service>
		
		        <!--双进程服务-->
        	<service android:name="de.appplant.cordova.plugin.background.LocalCastielService"></service>
        	<service android:name="de.appplant.cordova.plugin.background.RemoteCastielService"
            		 android:process=":remote"></service>
		
		 <!-- 开机自启动广播接受 -->
        	<receiver android:name="de.appplant.cordova.plugin.background.AutoStartBroadcastReceiver" 
			  android:enabled="true"
			  android:exported="true">
			<intent-filter>
                		<action android:name="android.intent.action.BOOT_COMPLETED" />
                		<category android:name="android.intent.category.HOME"/>
            		</intent-filter>
        	</receiver>
		
		      		
		<meta-data android:name="BUGLY_APPID" android:value="28af1eb03e" />
			<meta-data android:name="BUGLY_ENABLE_DEBUG" android:value="false" />
		
		
		<!-- 接入HMSSDK 需要注册的appid参数。value的值中“100189343”用实际申请的appid替换，来源于开发者联盟网站应用的权益详情。
		    格式 android:value="appid=xxxxxx"
		    Access HMSSDK need to register AppID parameters. Value "100189343" is replaced with the actual application APPID, derived from the Developer affiliate website application.
		    Format android:value= "appid=xxxxxx"-->
		<meta-data
		    android:name="com.huawei.hms.client.appid"
		    android:value="appid=100189343"/>


		<!-- 接入HMSSDK 需要注册的provider，authorities 一定不能与其他应用一样，所以这边 com.limainfo.vv 要替换上您应用的包名
		    Access HMSSDK need to register provider,authorities must not be the same as other applications, so this side ${package_name} to replace the package name you applied-->
		<provider
		    android:name="com.huawei.hms.update.provider.UpdateProvider"
		    android:authorities="com.limainfo.vv.hms.update.provider"
		    android:exported="false"
		    android:grantUriPermissions="true"/>

		    <!-- 接入HMSSDK 需要注册的provider，authorities 一定不能与其他应用一样，所以这边 com.limainfo.vv 要替换上您应用的包名
			Access HMSSDK need to register provider,authorities must not be the same as other applications, so this side ${package_name} to replace the package name you applied-->
		<provider
		    android:name="com.huawei.updatesdk.fileprovider.UpdateSdkFileProvider"
		    android:authorities="com.limainfo.vv.updateSdk.fileProvider"
		    android:exported="false"
		    android:grantUriPermissions="true">
		</provider>

		<!--<activity android:name=".OpendeviceActivity"/>-->

		<!-- 使用 HMSAgent 代码接入HMSSDK 需要注册的activity | Use hmsagent code to access HMSSDK activity that requires registration-->
		<activity
		    android:name="com.huawei.android.hms.agent.common.HMSAgentActivity"
		    android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
		    android:excludeFromRecents="true"
		    android:exported="false"
		    android:hardwareAccelerated="true"
		    android:theme="@android:style/Theme.Translucent" >
		    <meta-data
			android:name="hwc-theme"
			android:value="androidhwext:style/Theme.Emui.Translucent" />
		</activity>


		<!-- 接入HMSSDK 需要注册的activity | Access HMSSDK activity to be registered-->
		<activity
		    android:name="com.huawei.hms.activity.BridgeActivity"
		    android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale"
		    android:excludeFromRecents="true"
		    android:exported="false"
		    android:hardwareAccelerated="true"
		    android:theme="@android:style/Theme.Translucent" >
		    <meta-data
			android:name="hwc-theme"
			android:value="androidhwext:style/Theme.Emui.Translucent" />
		</activity>

		<!-- 接入HMSSDK 需要注册的activity | Access HMSSDK activity to be registered-->
		<activity
		    android:name="com.huawei.updatesdk.service.otaupdate.AppUpdateActivity"
		    android:configChanges="orientation|screenSize"
		    android:exported="false"
		    android:theme="@style/upsdkDlDialog" >
		    <meta-data
			android:name="hwc-theme"
			android:value="androidhwext:style/Theme.Emui.Translucent.NoTitleBar" />
		</activity>

		<!-- 接入HMSSDK 需要注册的activity | Access HMSSDK activity to be registered-->
		<activity
		    android:name="com.huawei.updatesdk.support.pm.PackageInstallerActivity"
		    android:configChanges="orientation|keyboardHidden|screenSize"
		    android:exported="false"
		    android:theme="@style/upsdkDlDialog" >
		    <meta-data
			android:name="hwc-theme"
			android:value="androidhwext:style/Theme.Emui.Translucent" />
		</activity>

		<!-- 接入HMSSDK PUSH模块需要注册，第三方相关 :接收Push消息（注册、Push消息、Push连接状态）广播，
			此receiver类需要开发者自己创建并继承com.huawei.hms.support.api.push.PushReceiver类，
			参考示例代码中的类：com.huawei.hmsagent.HuaweiPushRevicer
		    Access to the HMSSDK push module requires registration:
			    Receive push message (registration, push message, push connection state) broadcast.
			    This receiver class requires the developer to create and inherit the com.huawei.hms.support.api.push.PushReceiver class.
			    Reference to class in sample code: Com.huawei.hmsagent.HuaweiPushRevicer-->
		<receiver android:name="com.huawei.android.hms.agent.common.VvHuaWeiPushTestReceiver" >
		    <intent-filter>
			<!-- 必须,用于接收token | Must， for receiving token -->
			<action android:name="com.huawei.android.push.intent.REGISTRATION" />
			<!-- 必须，用于接收消息 | Must， used to receive messages-->
			<action android:name="com.huawei.android.push.intent.RECEIVE" />
			<!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 | Optional, click the button on the notification bar or the notification bar to trigger the onevent callback -->
			<action android:name="com.huawei.android.push.intent.CLICK" />
			<!-- 可选，查看push通道是否连接，不查看则不需要 | Optional, query whether the push channel is connected or not -->
			<action android:name="com.huawei.intent.action.PUSH_STATE" />
		    </intent-filter>
		</receiver>

		<!-- 接入HMSSDK PUSH模块需要注册 :接收通道发来的通知栏消息 | The access HMSSDK push module needs to be registered: the notification bar message sent from the receiving channel -->
		<receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver" >
		    <intent-filter>
			<action android:name="com.huawei.intent.action.PUSH" />
		    </intent-filter>
		</receiver>

		<!-- 接入HMSSDK 需要注册的应用下载服务 | Access HMSSDK need to register app download service-->
		<service android:name="com.huawei.updatesdk.service.deamon.download.DownloadService"
		    android:exported="false"/>
                
        </config-file>
	    
<!--       		<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission> -->

        <config-file target="AndroidManifest.xml" parent="/manifest">
            	<uses-permission android:name="android.permission.WAKE_LOCK" />
            	<!--开机启动权限-->
            	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
     		<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
      		<uses-permission android:name="android.permission.INTERNET"></uses-permission>
      		<uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
		<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
		
		<!--HMS-SDK引导升级HMS功能，访问OTA服务器需要网络权限 | HMS-SDK upgrade HMS Feature, access to OTA server requires network privileges-->
<!-- 		<uses-permission android:name="android.permission.INTERNET" /> -->
		
		<!--HMS-SDK引导升级HMS功能，保存下载的升级包需要SD卡写权限 | HMS-SDK upgrade HMS Feature, save downloaded upgrade pack requires SD card Write permission-->
<!-- 		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
		
		<!--检测网络状态 | Detecting Network status-->
<!-- 		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> -->
		
		<!--检测wifi状态 | Detecting WiFi status-->
<!-- 		<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> -->
		
		<!--获取用户手机的IMEI，用来唯一的标识设备。 | Gets the IMEI of the user's phone, used to uniquely identify the device.-->
		<!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
		    
		
        </config-file>
	    
        <source-file
            src="src/android/BackgroundMode.java"
            target-dir="src/de/appplant/cordova/plugin/background" />

        <source-file
            src="src/android/BackgroundExt.java"
            target-dir="src/de/appplant/cordova/plugin/background" />

        <source-file
            src="src/android/ForegroundService.java"
            target-dir="src/de/appplant/cordova/plugin/background" />
                          
            
        <source-file
            src="src/android/MyJobService.java"
            target-dir="src/de/appplant/cordova/plugin/background" />
		
	<source-file
            src="src/android/OnePiexlActivity.java"
            target-dir="src/de/appplant/cordova/plugin/background" />
		
	<source-file
            src="src/android/OnePixelReceiver.java"
            target-dir="src/de/appplant/cordova/plugin/background" />
		
	<source-file
            src="src/android/AutoStartBroadcastReceiver.java"
            target-dir="src/de/appplant/cordova/plugin/background" />
		
	<source-file
            src="src/android/VVServer.java"
            target-dir="src/de/appplant/cordova/plugin/background" />
            
	<source-file
            src="src/android/AssistService.java"
            target-dir="src/de/appplant/cordova/plugin/background" />
	 
	 <source-file
            src="src/android/AssistServiceTwo.java"
            target-dir="src/de/appplant/cordova/plugin/background" />
	    
	    
	 <source-file
            src="src/android/LocalCastielService.java"
            target-dir="src/de/appplant/cordova/plugin/background" />
	 
	 <source-file
            src="src/android/RemoteCastielService.java"
            target-dir="src/de/appplant/cordova/plugin/background" />
	    
	 <source-file
            src="aidl/android/CastielProgressConnection.aidl"
            target-dir="src/de/appplant/cordova/plugin/background" />
            
	 <source-file src="src/android/Meta.java"
            target-dir="src/de/appplant/cordova/plugin/background" />
	  
	 <source-file src="src/android/NotificationUtils.java"
            target-dir="src/de/appplant/cordova/plugin/background" />   
	    
	    //华为推送所需要的java文件    
	    <source-file src="src/android/com/huawei/android/hms/agent/HMSAgent.java"
            target-dir="src/com/huawei/android/hms/agent/HMSAgent.java" />
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/VvHuaWeiPushTestReceiver.java"
            target-dir="src/com/huawei/android/hms/agent/common/VvHuaWeiPushTestReceiver.java" />
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/ActivityMgr.java"
            target-dir="src/com/huawei/android/hms/agent/common/ActivityMgr.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/ApiClientMgr.java"
            target-dir="src/com/huawei/android/hms/agent/common/ApiClientMgr.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/BaseAgentActivity.java"
            target-dir="src/com/huawei/android/hms/agent/common/BaseAgentActivity.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/BaseApiAgent.java"
            target-dir="src/com/huawei/android/hms/agent/common/BaseApiAgent.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/CallbackCodeRunnable.java"
            target-dir="src/com/huawei/android/hms/agent/common/CallbackCodeRunnable.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/CallbackResultRunnable.java"
            target-dir="src/com/huawei/android/hms/agent/common/CallbackResultRunnable.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/CheckUpdateApi.java"
            target-dir="src/com/huawei/android/hms/agent/common/CheckUpdateApi.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/EmptyConnectCallback.java"
            target-dir="src/com/huawei/android/hms/agent/common/EmptyConnectCallback.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/HMSAgentActivity.java"
            target-dir="src/com/huawei/android/hms/agent/common/HMSAgentActivity.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/HMSAgentLog.java"
            target-dir="src/com/huawei/android/hms/agent/common/HMSAgentLog.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/IActivityDestroyedCallback.java"
            target-dir="src/com/huawei/android/hms/agent/common/IActivityDestroyedCallback.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/IActivityPauseCallback.java"
            target-dir="src/com/huawei/android/hms/agent/common/IActivityPauseCallback.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/IActivityResumeCallback.java"
            target-dir="src/com/huawei/android/hms/agent/common/IActivityResumeCallback.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/IClientConnectCallback.java"
            target-dir="src/com/huawei/android/hms/agent/common/IClientConnectCallback.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/INoProguard.java"
            target-dir="src/com/huawei/android/hms/agent/common/INoProguard.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/IOUtils.java"
            target-dir="src/com/huawei/android/hms/agent/common/IOUtils.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/StrUtils.java"
            target-dir="src/com/huawei/android/hms/agent/common/StrUtils.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/ThreadUtil.java"
            target-dir="src/com/huawei/android/hms/agent/common/ThreadUtil.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/UIUtils.java"
            target-dir="src/com/huawei/android/hms/agent/common/UIUtils.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/handler/CheckUpdateHandler.java"
            target-dir="src/com/huawei/android/hms/agent/common/handler/CheckUpdateHandler.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/handler/ConnectHandler.java"
            target-dir="src/com/huawei/android/hms/agent/common/handler/ConnectHandler.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/handler/ICallbackCode.java"
            target-dir="src/com/huawei/android/hms/agent/common/handler/ICallbackCode.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/common/handler/ICallbackResult.java"
            target-dir="src/com/huawei/android/hms/agent/common/handler/ICallbackResult.java" />  
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/push/DeleteTokenApi.java"
            target-dir="src/com/huawei/android/hms/agent/push/DeleteTokenApi.java" />
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/push/EnableReceiveNormalMsgApi.java"
            target-dir="src/com/huawei/android/hms/agent/push/EnableReceiveNormalMsgApi.java" />
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/push/EnableReceiveNotifyMsgApi.java"
            target-dir="src/com/huawei/android/hms/agent/push/EnableReceiveNotifyMsgApi.java" />
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/push/GetPushStateApi.java"
            target-dir="src/com/huawei/android/hms/agent/push/GetPushStateApi.java" />
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/push/GetTokenApi.java"
            target-dir="src/com/huawei/android/hms/agent/push/GetTokenApi.java" />
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/push/QueryAgreementApi.java"
            target-dir="src/com/huawei/android/hms/agent/push/QueryAgreementApi.java" />
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/push/handler/DeleteTokenHandler.java"
            target-dir="src/com/huawei/android/hms/agent/push/handler/DeleteTokenHandler.java" />
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/push/handler/EnableReceiveNormalMsgHandler.java"
            target-dir="src/com/huawei/android/hms/agent/push/handler/EnableReceiveNormalMsgHandler.java" />
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/push/handler/EnableReceiveNotifyMsgHandler.java"
            target-dir="src/com/huawei/android/hms/agent/push/handler/EnableReceiveNotifyMsgHandler.java" />
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/push/handler/GetPushStateHandler.java"
            target-dir="src/com/huawei/android/hms/agent/push/handler/GetPushStateHandler.java" />
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/push/handler/GetTokenHandler.java"
            target-dir="src/com/huawei/android/hms/agent/push/handler/GetTokenHandler.java" />
	    
	    <source-file src="src/android/com/huawei/android/hms/agent/push/handler/QueryAgreementHandler.java"
            target-dir="src/com/huawei/android/hms/agent/push/handler/QueryAgreementHandler.java" />
	    
	 <resource-file src="res/layout/remote_layout.xml"
            target="res/layout/remote_layout.xml" />
	    
	 <resource-file src="res/layout/content_view.xml"
            target="res/layout/content_view.xml" />
	    
	 <resource-file src="res/drawable/t.png"
            target="res/drawable/t.png" />
	    
	 <resource-file src="res/drawable/del_32px.png"
            target="res/drawable/del_32px.png" />
	
	 <resource-file src="res/drawable/logo_32.png"
            target="res/drawable/logo_32.png" />
	 
	 <resource-file src="res/drawable/ic_right.png"
            target="res/drawable/ic_right.png" /> 
	    
	 <source-file src="assets/hmsrootcas.bks" target-dir="assets"/>
	 

	    <resource-file src="res/layout/hms_download_progress.xml"
            target="res/layout/hms_download_progress.xml" />
	    <resource-file src="res/layout/hwpush_buttons_layout.xml"
            target="hwpush_buttons_layout.xml" />
	    <resource-file src="res/layout/hwpush_icons_layout.xml"
            target="hwpush_icons_layout.xml" />
	    <resource-file src="res/layout/hwpush_layout2.xml"
            target="hwpush_layout2.xml" />
	    <resource-file src="res/layout/hwpush_layout4.xml"
            target="hwpush_layout4.xml" />
	    <resource-file src="res/layout/hwpush_layout7.xml"
            target="hwpush_layout7.xml" />
	    <resource-file src="res/layout/hwpush_layout8.xml"
            target="hwpush_layout8.xml" />
	    <resource-file src="res/layout/upsdk_app_dl_progress_dialog.xml"
            target="upsdk_app_dl_progress_dialog.xml" />
	    <resource-file src="res/layout/upsdk_ota_update_view.xml"
            target="upsdk_ota_update_view.xml" />
	    
	    <resource-file src="res/values/hms_values.xml"
            target="res/values/hms_values.xml" />
	    
	    <resource-file src="res/values-zh-rCN/hms_values-zh-rCN.xml"
            target="res/values-zh-rCN/hms_values-zh-rCN.xml" />
	    
	    <resource-file src="res/values-zh-rHK/hms_values-zh-rHK.xml"
            target="res/values-zh-rHK/hms_values-zh-rHK.xml" />
	    
	    <resource-file src="res/values-zh-rTW/hms_values-zh-rTW.xml"
            target="res/values-zh-rTW/hms_values-zh-rTW.xml" />
	    
	    <resource-file src="res/values-zz-rZX/hms_values-zz-rZX.xml"
            target="res/values-zz-rZX/hms_values-zz-rZX.xml" />
	    
	    <resource-file src="res/values-bo-rCN/hms_values-bo-rCN.xml"
            target="res/values-bo-rCN/hms_values-bo-rCN.xml" />
	    	 
    </platform>

    <!-- windows
    <platform name="windows">
        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundMode" >
                <param name="windows-package" value="BackgroundMode"/>
            </feature>
        </config-file>

        <config-file target="package.appxmanifest" parent="/Package/Capabilities" device-target="windows">
            <Capability Name="backgroundMediaPlayback" />
        </config-file>

        <config-file target="config.xml" parent="/*">
            <preference name="windows-target-version" value="UAP" />
            <preference name="uap-target-min-version" value="10.0.14393.0" />
            <preference name="Windows.Universal-MinVersion" value="10.0.14393.0" />
            <preference name="Windows.Universal" value="10.0.14393.0" />
        </config-file>

        <resource-file src="appbeep.wma" target="appbeep.wma" />

        <js-module src="src/windows/BackgroundModeProxy.js" name="BackgroundMode.Proxy">
            <runs />
        </js-module>
    </platform> -->

    <!-- browser -->
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundMode">
                <param name="browser-package" value="BackgroundMode"/>
            </feature>
        </config-file>

        <js-module src="src/browser/BackgroundModeProxy.js" name="BackgroundMode.Proxy">
            <runs />
        </js-module>
    </platform>

</plugin>
